<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- TODO(mastersam07): Enable this for GAID support once we have a proper way to handle it. -->
    <!-- <uses-permission android:name="com.google.android.gms.permission.AD_ID" /> -->
    
</manifest>
